/* Give your page a fun background color */
body {
  background-color: SteelBlue;
}
/* Make the header and footer a different color from the background */
header, footer {
  background-color: LightSlateGrey;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  color: Crimson;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}
/* Put a border around your image */
img {
  border: 3px Crimson solid;
}
/* Change the font-family of your list */
li {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
